.level {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress {
    width: 100px;
    height: 6px;
    background-color: #eaeaea;
    border-radius: 100px;
}

.progress_current {
    width: 60%;
    height: 100%;
    border-radius: 100px;
    background: linear-gradient(to right, #E596B4 0%, #D83469 100%);
    position: relative;
}

.progress_current::before {
    position: absolute;
    content: "12";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EF5D9E;
    color: #fff;
    bottom: calc(100% + 10px);
    right: 0;
    transform: translateX(50%);
    font-size: 0.75rem;
    font-weight: 700;
}

.progress_current::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 4px solid;
    border-color: #EF5D9E transparent transparent transparent;
    bottom: calc(100% + 3px);
    right: 0;
    transform: translateX(50%);
}